.btn-group {
  position: fixed;
  z-index: 999999;
  /* background-color:red; */
  right: 1%;
  height: 190px;
  width: 46px;
  bottom: 50px;
}
.btn-group .btn {
  display: block;
  height:0;padding:50% 0;
  margin-bottom: 5px;
  /* background: #f8fcff; */
  font-size: 16px;
  border: 1px solid #9a9c9e;
  cursor: pointer;
  color: #9a9c9e;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.btn-group .btn:hover{
  background-color: #e4e4e4;
}
/* .btn-group .btn{
  display: block;
  height: 50px;

  margin-bottom: 5px;
  background: #e9f4ff;
  font-size: 12px;
  border: 1px solid #71b2f4;
  cursor: pointer;
  color: #2793f7;

} */
.icon {
  /* display: block;
  margin: 10px auto 2px; */
  
}
/*  ------------------------------------------------------------------------------------------------------- */
.meside {
  /* background:    rgba(0,0,0,0.07);; */
  border-left: 1px solid rgb(247, 247, 252);
  width: 10px;
  height: 100vh;
  position: fixed;
  left: 300px;
  top: 0;
  z-index: 999;
  cursor: col-resize;
 
}
 
/* .sidebar::-webkit-scrollbar {
  width: 8px;
} */

.me-sidebar-toggle {
  background-color: transparent;
  /* background-color: rgba(170, 167, 167, 0.8); */
  border: 0;
  outline: none;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  transition: opacity 0.3s;
  width: 300px;
  /* width: 38px; */
  z-index: 30;
  cursor: pointer;
  position: fixed;
}

.me-sidebar-toggle span {
  background-color: var(--theme-color, #42b983);
  display: block;
  margin-bottom: 4px;
  width: 16px;
  height: 2px;
}

body.close .sidebar {
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .sidebar {
    left: 0;
    width: 0;
    transition: transform 250ms ease-out;
  }

  .meside {
    left: 0;
  }

  .me-sidebar-toggle {
    width: 38px;
  }
}
/* <!-- 侧边栏结束 --> */

/* 侧边栏折叠按钮开始 */
.medropdown {
  padding: 5px;
  transform: rotate(180deg);
  float: left;
  cursor: pointer;
  margin-top: 5px;
  /* background-color: red; */
}
.dropdown_start {
  transform: rotate(90deg);
}
/* 侧边栏折叠按钮结束 */
#main .docsify-copy-code-button {
  font-size: .5em;
}

.sidebar {
    display: none;
}

/* =============================================背景变化======================================================= */
#bgchange{
  position: absolute;
  top: 5%;
  right: 5%;
  width: 50px;
  height: 50px;
  padding: 10px;
  z-index: 99999999999;
  cursor:pointer;
}

/* =================================================修改主题开始============================================================ */
.github-corner svg {
  height: 80px;
  width: 80px;
}

/* =================================================修改主题结束============================================================ */


/* ==========================================修改elementui.css开始================================================== */
.el-dialog__body {
  overflow-y: auto;
  height: 80vh;
}

.el-dialog {
  margin: 0 auto !important;
  /* 最小宽度 */
  min-width: 400px;
}
/* ==========================================修改elementui.css结束================================================== */

#main p {
  white-space: pre-wrap;
}

.me_search_item {
  text-decoration: none;
  /* 去除默认的下划线 */
  color: #000;
  /* 去除默认的颜色和点击后变化的颜色 */
}
.me_search_content{
  flex: 5;
  padding: 0 10rpx;

 
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
em.mesurl {
  font-size: 12px;
  font-weight: 400;
}

.el-select.input-with-select {
  width: 80px;
}
/* .app-nav {
  margin:  0;
 border-bottom: 1px solid rgb(240, 229, 229);
 background: red;
}
.app-nav>ul, .app-nav>ul>li {
  display: inline-block;
  float: left;
}
.app-nav li {
  z-index: 9999;

} */
 .mytitle{
  width: 20px;
  height: 20px;
  background-color: rgb(170, 163, 163);
  cursor: pointer;
  display: inline-block;
  /* position: absolute; */
  left: -40px;
  bottom: 3px;
  opacity: 0.001;
  margin-right: 10px;
 }
 .mytitle {

 }
 h1  *,
 h2  *,
 h3  *,
 h4  *,
 h5  *,
 h6  *{
  transform: translateX(-30px);
}
 .mezhedie{
  background-color: #eff3f5;

 }

 .myprecollection {
   /* Safari */
  position: -webkit-sticky; 
  position: sticky;
  /* position: absolute; */
  /* float: left; */
  background: grey;
  color: white;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border:none;
  padding: .55em 9em;
  font-size: .5em;
  opacity: 0.001;
  cursor: pointer;
}
.markdown-section > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code {
  margin-top: -25px;
}
.showopacity{
  opacity: 1;
}
 
.mecodezhedie{
  height: 140px;
}
article#main {
  padding-bottom: 230px;
}

.app-nav {
  margin: 0 60px 0 0;
  position: fixed;
  border-bottom: 1px solid #efe3e3;
}
/* .sidebar .sidebar-nav {
  border-top: 1px solid red;
} */

/* div#tree_sidebar {
  height: 40%;
  overflow-y: auto; 
}
.sidebar-nav {
  height: 50%;
  overflow-y: auto;

}
.sidebar_input{
  width: 80%;
} */


main>section
{
    position: absolute !important;
    padding-top: 60px;
    height: 100%;
}
main>.markdown_left,
main>.markdown_left_resize,
main>.markdown_right_resize,
main>.markdown_right
{
    position: fixed;
    padding-top: 60px;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 100px;

}

.markdown_left {
    z-index: 999;
    width: 200px;
    /*background: rgb(186, 240, 86);*/
}


.markdown_right {
    z-index: 999;
    right: 0;
    width: 200px;
    /*background: rgb(186, 240, 86);*/
}

.markdown_left_resize {
    z-index: 9999;
    left: 200px;
    width: 5px;
    /*background: rgb(45, 130, 136);*/
    background: #d6d6d6;
}

.markdown_right_resize {
    z-index: 9999;
    right: 200px;
    background: #d6d6d6;

    width: 5px;
    /*background: rgb(45, 130, 136);*/
}

.markdown_left_resize:hover,
.markdown_right_resize:hover {
    cursor: col-resize;
}

.content {
    padding-left: 205px;
    padding-right: 205px;
    width: 100%;
    z-index: 9;
    left: 0;

}

.markdown_navbar > .el-submenu,
.markdown_navbar > .el-menu-item {
    float: right;
}

.left_hide .markdown_left {
    width: 0 !important;
}

.left_hide .markdown_left_resize {
    left: 0 !important;
}

.left_hide .content {
    padding-left: 0 !important;

}


.right_hide .markdown_right {
    width: 0 !important;
}

.right_hide .markdown_right_resize {
    right: 0 !important;

}

.right_hide .content {
    padding-right: 0 !important;
}
#article{
    margin:0 30px;
}




.markdown_left_resize_btn{
  position:absolute;
  top: 50%;
}